.header{
  background-color: #495E57;
  padding: 5%;
}

.hero-heading{
  color: #F4CE14;
  font-weight: bold;
}

.hero-subheading{
  color: #FFF;
  font-weight: bold;
}

.hero-caption{
  color: #FFF;
  font-weight: 500;
  margin-top: 24px;
}

/* ========= Main Section ========= */

.main{
  background-color: #FFF;
  padding: 5%;
}

.week-special{
  font-weight: bold;
  font-size: 1.4rem;
}

.card{
  position: relative;
}

.card-body{
  background-color: #6b8079;
  color: #FFF;
  min-height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.card-bottom span{
  position: absolute;
  bottom: 5%;
  left: 5%;
}

.card-bottom button{
  position: absolute;
  bottom: 4%;
  right: 5%;
}

.card-title{
  font-weight: bold;
  font-size: 1.6rem;
  margin-bottom: 16px;
  color: #ffd501;
}

.card-text{
  min-height: 100px;
}

.btn-ordernow{
  background-color: #ffd501;
  padding: 10px 28px;
  font-weight: bold;
}

.btn-ordernow:hover{
  background-color: rgb(255, 175, 1);
  color: #FFF;
  padding: 10px 28px;
}


/* ========= Media Queries ========= */

@media (min-width: 950px){
  .hero-heading{
    font-size: 3rem;
  }

  .hero-subheading{
    font-size: 1.8rem;
  }

  .hero-caption{
    font-size: 1.1rem;
  }

  .btn-warning{
    font-size: 1rem;
    padding: 10px 28px;
  }
}

@media (min-width: 1160px){
  .hero-heading{
    font-size: 5rem;
  }

  .hero-subheading{
    font-size: 2.6rem;
  }

  .hero-caption{
    font-size: 1.2rem;
  }
}

@media (min-width: 1580px){
  .hero-heading{
    font-size: 6rem;
  }

  .hero-subheading{
    font-size: 3.6rem;
  }

  .hero-caption{
    font-size: 2.2rem;
  }

  .btn-warning{
    font-size: 2rem;
    padding: 10px 28px;
  }
}

@media (max-width: 376px) {
  .card-title{
    font-size: 1.6rem;
  }
}

@media (min-width: 406px) {
  .card-title{
    font-size: 2.3rem;
  }
}

@media (min-width: 436px) and (max-width: 586px) {

  .card-text{
    font-size: 1.1rem;
  }
}

@media (min-width: 586px) and (max-width: 766px) {

  .card-text{
    font-size: 1.3rem;
  }
}